*{
    font-family: 'Architects Daughter', cursive;
}

header{
    margin: 1em 1em 1em 1em;
    padding: 2px 1px 2px 1px;
    height: 12mm;
    width: 30mm;
}

header:active{
    position: absolute;
}

em{
    display: inline;
    background-color: black;
    position: sticky;
    top: 10px;
}

h1{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 1px;
    padding-left: 1px;
}
a[href*="google"]{
    background-color: hsl(208, 100%, 97.1%);
}

em:hover{
    background-color: aliceblue;
}

#how-ready{
    background-color: aliceblue;
}

.testform{
    background-color: aliceblue;
    display: block;
    max-width: 50%;
}

#flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex{
    flex-grow: 2;
}

#grid{
    display: grid;
}

h2{
    margin: auto;
    min-width: 10%;
}